<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re:Mind</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>

    </style>
</head>

<body>
    <ul style="width: 100%;height: 100%">
        <li id="slide1">
            <div id="content">
                <h1 id="title">Re:Mind</h1>
                <p id="description">Re:Mind is a program which creates review notes for wrong answers<br>
                    This program is specialized for...<br>1. Adding additional information that was not included in the
                    previous summary
                    <br>2. Add link to the created summary which points to the incorrect answers
                </p>
                <button id="start_button" onclick="scroll_down()">START</button>
            </div>
        </li>
        <li id="slide2" style="width: 100%;height: 100%">
            <button id="top_button" onclick="scroll_up()">HOME</button>
            <h1 id="upload_files">Upload Files</h1>
            
            <form  style = "display: flex;align-items: center;flex-direction: column;"action="/remind/" method="post" enctype="multipart/form-data">
                <div style="display: flex; width: 35rem; justify-content: space-between;">
                    <label style = "width: 15rem;height:15rem;border:1px solid black;display:flex;flex-direction: column;justify-content: center;" id="summary_file_label" for="file_sum">
                        <div style = "text-align: center;"id="summary_file_name">Click to upload<br> summary</div>
                        <input style = "display:none" type="file" name="file_sum" id="file_sum" accept=".txt" required onchange="updateFileName()">
                    </label>
            
                    <label style = "width: 15rem;height:15rem;border:1px solid black;display:flex;flex-direction: column;justify-content: center;" id="wrong_answer_file_label" for="file_wrong">
                        <div style = "text-align: center;" id="wrong_answer_file_name">Click to upload<br> wrong answer</div>
                        <input style = "display:none" type="file" name="file_wrong" id="file_wrong" accept=".txt" required onchange="updateFileName2()">
                    </label>
                </div>
                <button style = "" id="submit_button" type="submit">Submit</button>
            </form>
            
        </li>
    </ul>
    <script>
        function scroll_down() {
            const list = document.querySelectorAll('li');
            list.forEach(li => {
                li.style.transform = 'translateY(-100%)';
            });
        }

        function scroll_up() {
            const list = document.querySelectorAll('li');
            list.forEach(li => {
                li.style.transform = 'translateY(0%)';
            });
            location.reload(true);
        }

        function updateFileName() {
            // 파일 입력 요소 가져오기
            var fileInput1 = document.getElementById('file_sum');
           


            // 라벨 요소 가져오기
            var fileLabel1 = document.getElementById('summary_file_name');


            // 선택된 파일이 있는지 확인
            if (fileInput1.files.length > 0) {
                // 파일 이름 가져오기
                var fileName = fileInput1.files[0].name;

                // 라벨에 파일 이름 표시
                fileLabel1.innerText = fileName;
            } else {
                // 파일이 선택되지 않았을 경우 기본 문구 표시
                'Click to upload summary';
            }

            if (fileInput2.files.length > 0) {
                // 파일 이름 가져오기
                var fileName = fileInput2.files[0].name;

                // 라벨에 파일 이름 표시
                fileLabel2.innerText = fileName;
            } else {
                // 파일이 선택되지 않았을 경우 기본 문구 표시
                'Click to upload wrong answers';
            }
        }
        function updateFileName2() {
            // 파일 입력 요소 가져오기
           
            var fileInput2 = document.getElementById('file_wrong');


            var fileLabel2 = document.getElementById('wrong_answer_file_name');


            if (fileInput2.files.length > 0) {
                // 파일 이름 가져오기
                var fileName = fileInput2.files[0].name;

                // 라벨에 파일 이름 표시
                fileLabel2.innerText = fileName;
            } else {
                // 파일이 선택되지 않았을 경우 기본 문구 표시
                'Click to upload wrong answers';
            }
        }
    </script>
</body>

</html>